.paragraf1 {
    color: red;
}

h1 {
    font-size: large;
}

#onem {
    color: blue;
}

/* Renk kodları*/

.renk {
    color: #777777;
    background-color: rgb(246, 250, 200);
}

.kutu1 {

    background-image: url(./indir.png);
    /* arka plan resim ekleme*/
    background-size: cover
        /* resim birazdaha kaplanır*/
    ;
    background-position: center;
    background-color: grey;
    /* arka plan rengi */
    width: 300px;
    /* genişlik */
    height: 200px;
    /* yükseklik */
    text-align: center;
    /* metni hizalama şekli*/
}

/*
    border ve radius : 


*/

.kutu2 {

    background-color: aqua;
    width: 300px;
    height: 300px;

    /* kalınlık tip renk*/
    border: 2px solid red;
    border-radius: 20px;
    /* kenarların oval olasını sağlar */
    background-position: center;
    text-align: center;
}

/* width ve height*/

.kutu3 {

    background-color: brown;
    height: 200px;
    width: 50%;
}

/* Margin özelliği
    : boşluk bırakmak için kullanılır . 

    oluşturudpumuz divimizin çerçevesinın ile içindeki içeriği araasındaki mesafe padding
    padding top bottom
    padding rigt lef

    divin çerçevesi ile yani borderin  dış taraf ile arasındaki mesafe arasındkai mesafeyede margin denir.

*/


.kutu5 {

    background-color: lightblue;
    width: 400px;
    height: 200px;
    margin: 0 50px;
    /* Sağ ve sol 50px boşluk */
    box-sizing: border-box;
    /* Genişliğin margin ve padding dahil olmadan hesaplanmasını sağlar */
    margin-left: 75px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}


/* display 

block: satırın tamamını kaplar
inline: bulunduğu alanı kaplar inline etiketlere genişlik ve yükseklik verilemez.
inline-block: iki divi yan yana getirir hem inline hem block şekidle görülür.
*/

.kutu6 {
    display: block;
    display: inline;
}

/* text özellikleri */

.dede {
    color: red;
    background-color: beige;
    text-align: center;
    /* Metni hizalar*/
    font-weight: 700;
    /* Kalınlaştırma yapar*/
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-transform: lowercase;
    /* bütün yazı küçük harf*/
    letter-spacing: 5px;
    /* harfler arası mesafeyi açar*/
    text-decoration: line-through;
    /* yazının üzerine çizgi çeker */
    word-spacing: 6px;
}

* {
    /* Bütün elementleri seçer*/
}

p,
h3 {
    /* tüm paragraf ve h3  elementlerini seçer*/
}

div p {
    /* div elementlerin içinde tüm paragrafları seçer*/
}

div>p {
    /* parenti div olan tüm divleri seç*/
}

div+p {
    /* div elementinden sonra gelen paragraf elementilerden ilknii alır*/
}

div>p:first-child {
    /* parenti div olan p lerden ilkini seç*/
}

div>p:last-child {
    /* yukarıdainin zıttı*/
}

div>p:nth-child(1) {
    /* parenti div olan 3. p etikeetini seçer */
}

div>nav>p:nth-child(3) {
    /*div içinde yer alan divlerin içindeki p lerden 3. sücüsnü seçer */
}

div i {
    color: darkseagreen;
    /* Renk ayarı */
    font-size: 98px;
    /* İkon boyutu */
}

.container {
    margin-top: 4px;
    font-style: italic;
    font-weight: 500;
}

a:link {
    color: black;
    text-decoration: none;
    /* link altındaki çizgi kalkar*/

}

/* üzerime gelindiği zaman */

a:hover {
    color: orange;
    /* üzerine gelince turuncu olur*/
}

/* linke tıkladığın zaman ne yapılacağına söyler*/

a:active {
    background-color: blue;
}

/* siteye gittiğinde ne olacağını söyler*/

a:visited {
    color: blueviolet;
}