.div1 {
    --size: 8rem;
    height: var(--size);
    width: var(--size);
    color: var(--primary-color);
    background-color: var(--bg);
    border-radius: calc(var(--size)/ 4);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.rem {
    font-size: 2rem;
    padding: 1.5rem;
}

:root {
    --primary-color: #b8e80973;
    --bg: #dddddd;
}